#pictures.transitions-enabled
  .container
    - if @pictures.any?
      - @pictures.each do |picture|
        .box.panel.panel-default
          = link_to (image_tag picture.image.url(:medium)), picture
          .panel-body.color
            %h2= link_to picture.title, picture
            %span.glyphicon.glyphicon-comment
              = picture.comments.count
            |
            - if current_user && picture.user_id != current_user.id
              = link_to '&#10084;'.html_safe, picture_endorsements_path(picture), class: 'endorsements-link', id: 'heart'
              %span.endorsements_count= picture.endorsements.count
            - else
              &#10084;
              = picture.endorsements.count
    - else
      .col-md-8.col-md-offset-2
        %h1= "No Pictures added yet!"
